---
layout: base
eleventyExcludeFromCollections: true
---


{% from "components/button.njk" import button %}
{% from "components/container.njk" import container %}
<main class="flex flex-col items-center gap-section py-section grow w-full">
    {% call container({}, {class:"text-pretty justify-items-center text-center flex flex-col gap-10"}) %}
            <h1 class="text-2xl">
                Thanks!
            </h1>
            <p class="text-xl"> We'll text you soon to set up a time to talk.</p>
            {{ button({label:"Return home", type:"button", variant:"ink", size:"base"},{href:"/", class:""}) }}
    {% endcall %}
</main>
