---
layout: base
eleventyExcludeFromCollections: true
---


{% from "components/button.njk" import button %}
{% from "components/container.njk" import container %}
<main class="flex flex-col items-center gap-section py-section grow w-full">
    {% call container({}, {class:"text-pretty justify-items-center text-center gap-10"}) %}
            <h1 class="text-xl">
                Thanks!
            </h1>
            <p class="text-base"> We'll send you the address and other details soon.</p>
            {{ button({label:"Return home", type:"button", variant:"ink", size:"base"},{href:"/", class:""}) }}
    {% endcall %}
    {% call container({size:"narrow"},{class:"place-content-center"}) %}
        <div class="border max-md:row-1 md:sticky top-half-section h-fit max-w-120 aspect-square overflow-hidden"><img class="w-full object-cover object-top" src="{{ eventDetails.graphic }}" alt=""></div>
    {% endcall %}
</main>
