{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/input.njk" import input %}
{% from "components/radio.njk" import radio %}
{% from "components/button.njk" import button %}
{% from "components/incrementer.njk" import incrementer %}
{% from "components/marquee.njk" import marquee %}
{% from "components/checkbox.njk" import checkbox %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set nameLabel = "RSVPing as..." %}
{% set attendeesLabel = "Number of attendees" %}
{% set contactMethodLabel = "Optional: Phone number" %}
{% set ticketTierLabel = "Choose the ticket tier the best matches your current financial situation" %}
{% set paymentLabel = "Pay for your tickets now or at the door?" %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% call container({size: "narrow"},{class:"gap-8 justify-items-center"}) %}
    <div
        x-data="{
                name: '',
                email: '',
                contactMethod: '',
                attendees: 1,
                ticketTier: null,
                payment: '',
                getInvolved: [],
                ticketTiers: {
                    1: [10, 15],
                    2: [15, 25],
                    3: [25, 50]
                },
                paymentMessages: {
                    1: `Venmo @CCHRP with your name and 'party' in the description.`,
                    2: 'We’ll accept cash or Venmo at the door!'
                },
                updateTotal() {
                    return this.ticketTier ? '$' + this.attendees * this.ticketTiers[this.ticketTier][0] + '-' + this.attendees * this.ticketTiers[this.ticketTier][1] : '$0'
                }
            }">
        <form
            name="rsvp"
            method="POST"
            action="/success"
            netlify
            tabindex="0"
            class="w-full gap-half-section grid border border-hue/75 pt-half-section">
            {% call marquee(
                props={
                    speed: "25s",
                    pauseOnHover: false,
                    gap: "gap-16"
                },
                attrs={}
            ) %}
                <h2 class="text-xl w-full flex gap-16 text-hue">
                    <span>RSVP</span>
                    <span aria-hidden="true">RSVP</span>
                    <span aria-hidden="true">RSVP</span>
                    <span aria-hidden="true">RSVP</span>
                    <span aria-hidden="true">RSVP</span>
                </h2>
            {% endcall %}
            <div class="flex flex-col items-center gap-half-section text-hue px-fluid-inline">

                {{ input(
                    props={
                        name: "name",
                        label: nameLabel,
                        description: "The name you’d like us to use when you check in at the door.",
                        fieldAttrs: {
                            type: "text",
                            required: true,
                            autocomplete: true
                        }
                    },
                    attrs={class:"w-full"}
                ) }}

                {{ incrementer(props={
                    name: "attendees",
                    label: attendeesLabel,
                    fieldAttrs:{
                        required: true,
                        min: 1
                    }
                },
                attrs={
                    class:"w-full"
                }) }}

                {{ input(
                    props={
                        name: "email",
                        label: "Email address",
                        fieldAttrs: {
                            type: "email",
                            required: true
                        }
                    },
                    attrs={class:"w-full"}
                ) }}

                {{ input(
                    props={
                        name: "contactMethod",
                        label: "Optional: Phone number",
                        fieldAttrs: {
                            type: "tel"
                        }
                    },
                    attrs={class:"w-full"}
                ) }}

                {{ radio(
                    props={
                        name: "ticketTier",
                        label: ticketTierLabel,
                        options: [
                            {label: "$10-15 if things are tight right now", value: "$10-15"},
                            {label: "$15-25 if you’re managing", value: "$15-25"},
                            {label: "$25-50 if you’re financially comfortable", value: "$25-50"}
                        ],
                        fieldAttrs:{required: true},
                        description: "Prices are per person."
                    },
                    attrs={class:"w-full"}
                ) }}

                {# {{ radio(
                    props={
                        name: "payment",
                        label: paymentLabel,
                        options: [
                            {label: "Pay now (Thank youu!)", value: "Pay in advance"},
                            {label: "Pay at the door", value: "Pay at door"}
                        ],
                        fieldAttrs:{required: true},
                        description: "Venmo @CCHRP now or pay in cash/Venmo at the door."
                    },
                    attrs={class:"w-full"}
                ) }} #}

                {{ checkbox(
                    props={
                        name: "getInvolved",
                        label: "Optional: Would you like to get involved with the Defend Migrants Alliance?",
                        description: "",
                        options: [
                            {label: "Get updates on future events", value: "Future events"},
                            {label: "Learn more about DMA's work and campaigns", value: "Learn more"},
                            {label: "Volunteer (flyer, plan events, share skills & resources)", value: "Volunteer"},
                            {label: "Join one of the organizations", value: "Join an org"},
                            {label: "Learn how your organization can join the Defend Migrants Alliance", value: "Join DMA"}
                        ]
                    },
                    attrs={class: "w-full"}
                ) }}
            </div>

            <div class="grid md:grid-cols-3 border-t w-full items-stretch border-hue/75">
                <div class="md:col-span-2 text-lg max-md:border-b md:border-r px-fluid-inline md:justify-center md:px-6 border-hue/75 py-8 grid grid-cols-[1fr_max-content] gap-3">
                    <span class="text-lg flex gap-4 items-center">Please pay:</span>
                    <span class="text-lg text-neutral flex items-center" x-text="updateTotal()"></span>
                    {# <small x-show="payment" class="text-sm text-neutral/70 text-pretty" x-text="paymentMessages[payment]"></small> #}
                </div>
                <div class="py-8 px-fluid-inline md:px-6 flex items-center">{{ button({label: "Submit RSVP", type:"button", size:"base", variant: "solid"}, {type:"submit", class:"w-full"}) }}</div>
            </div>

        </form>
    </div>

{% endcall %}
