{% macro metadata(props={}) %}
    <dl class="flex flex-col gap-2 not-last:border-b border-b-ink not-last:pb-12">
        <dt class="text-lg">{{ props.term }}</dt>
        <dd>{{ props.details }}</dd>
    </dl>
{% endmacro %}

{% call container({size: "wide", type:"cols-2"},{class:"gap-section md:gap-fluid-inline justify-items-center"}) %}

    <div class="flex flex-col gap-half-section">
        <div class="flex flex-col gap-8">
            <h1 class="text-pretty text-2xl">{{ global.siteTitle }}</h1>
            <p>{{ global.siteDescription }}</p>
            {{ button(
                props={
                    label: "RSVP now",
                    type: "button",
                    size: "base",
                    variant: "ink"
                },
                attrs={
                    href:"#rsvp-section"
                }
            ) }}
        </div>
        <div class="flex flex-col gap-half-section">
            {{ metadata({
                term: "Date",
                details: "Saturday, November 1st 5pm - 9pm"
            })}}
            {{ metadata({
                term: "Location",
                details: "Shared upon registration."
            })}}
            {{ metadata({
                term: "Tickets",
                details: "Sliding scale, now or at the door. Venmo @cchrp."
            })}}
            {{ metadata({
                term: "About the event",
                details: "A dance party in collaboration with local DJs and use ticket sales to generate funds. With sliding scale ticket options, we believe we can raise money without turning anyone away. Additionally, we have the idea to host a raffle at the event to entice party-goers to purchase raffle tickets for fun prizes. One idea is to partner with local businesses to donate prizes and some of us have offered to create some of our own for unique additions."
            })}}
        </div>

    </div>
    <div class="border max-md:row-1 md:sticky top-half-section h-fit max-md:h-[60vw] overflow-hidden"><img class="w-full object-cover object-top" src="/assets/uploads/flyer.png" alt=""></div>
{% endcall %}
