{% from "components/markdown.njk" import markdown %}

{% macro metadata(props={}) %}
    <dl class="flex flex-col gap-2 not-last:border-b border-b-ink not-last:pb-12">
        <dt class="text-lg">{{ props.term }}</dt>
        <dd>
            {{ markdown(
                props={
                    content: props.details,
                    transform: true,
                    overrides: {textColor: "color-white"}
                },
                attrs={}
            ) }}
        </dd>
    </dl>
{% endmacro %}

{% call container({size: "wide", type:"cols-2"},{class:"gap-half-section md:gap-section md:gap-fluid-inline justify-items-center"}) %}

    <div class="flex flex-col gap-half-section">
        <div class="flex flex-col gap-8">
            <h1 class="text-pretty text-2xl">{{ eventDetails.title }}</h1>
            <p>{{ eventDetails.subtitle }}</p>
            {{ button(
                props={
                    label: "RSVP now",
                    type: "button",
                    size: "base",
                    variant: "ink"
                },
                attrs={
                    href:"#rsvp-section"
                }
            ) }}
        </div>
        <div class="flex flex-col gap-half-section">
            {{ metadata({
                term: "Date",
                details: eventDetails.date
            })}}
            {{ metadata({
                term: "Location",
                details: eventDetails.location
            })}}
            {{ metadata({
                term: "Tickets",
                details: eventDetails.ticketInfo
            })}}
            {{ metadata({
                term: "About the event",
                details: eventDetails.description
            })}}
        </div>

    </div>
    <div class="border max-md:row-1 md:sticky top-half-section h-fit max-md:aspect-square overflow-hidden"><img class="w-full object-cover object-top" src="{{ eventDetails.graphic }}" alt=""></div>
{% endcall %}
