{# Nested components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set directionClasses = {
    row: "flex flex-col @min-[400px]:flex-row gap-2 @min-[400px]:items-center",
    column: "flex flex-col gap-4"
} %}

{% set fieldLabelStyles = "text-ink text-lg text-pretty" %}
{% set fieldLabelRequiredStyles = "text-[firebrick]" %}
{% set fieldWrapperStyles = "grow flex border-white border rounded-base min-h-tube" %}
{% set fieldStyles = "grow text-white disabled:opacity-60 rounded-inherit px-3 py-4 w-full" %}
{% set fieldsetOptionStyles = "text-white" %}
{% set fieldDescriptionStyles = "text-white text-sm opacity-70 text-pretty" %}

{# Macros ------------------------------------------------------------------------------------------------------------------------------ #}

{% macro fieldLabel(props={}, attrs={}, fieldProps={}, fieldAttrs={}) %}
    <{{ props.tag }}
        {% if props.tag === "label" %}for="{{ fieldProps.name }}"{% endif %}
        class="{{ fieldLabelStyles }} {{ attrs.class }}"
        {{ loopAttrs(attrs) }}
    >
        {{ fieldProps.label }} {% if fieldAttrs.required %}<sup class="{{ fieldLabelRequiredStyles }}">*</sup>{% endif %}
    </{{ props.tag }}>
{% endmacro %}

{% macro fieldDescription(props={}, attrs={}) %}
    <small
        {{ loopAttrs(attrs) }}
        class="{{ fieldDescriptionStyles }} {{ attrs.class }}">{{ props.description }}
    </small>
{% endmacro %}
