{# Nested components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro button(props={},attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set types = {
    button: {
        styles: "leading-none border hover:underline underline-offset-3 decoration-2",
        sizes: {
            base: "text-button min-w-15 min-h-tube py-5 px-6 rounded-lg",
            sm: "text-sm p-3 rounded-base"
        },
        variants: {
            ink: "text-surface bg-neutral border-neutral",
            hue: "text-neutral border-hue"
        }
    },
    link: {
        styles: "underline hover:no-underline underline-offset-3 decoration-from-font active:scale-[.98]",
        sizes: {
            inherit: "",
            base: "text-base",
            sm: "text-sm"
        }
    }
} %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}


<{% if attrs.href %}a{% else %}button{% endif %}
    class="relative shrink-0 disabled:opacity-60 active:scale-[.98] inline-grid cursor-pointer {{ attrs.class }} {% if attrs.disabled %}pointer-events-none{% endif %}
    {{ types[props.type].styles }} {{ types[props.type].sizes[props.size] }} {{ types[props.type].variants[props.variant] }}"
    {# {{ typeClasses[props.type] }} {{ sizeClasses[props.size] }}" #}
    {{ loopAttrs(attrs) }}
>
    {% if props.icon or props.label %}
        <span class="relative flex items-center justify-center gap-2">
            {% if props.icon %}
                <span class="text-icon">{{ props.icon }}</span>
            {% endif %}
            {% if props.label %}
                <span>{{ props.label }}</span>
            {%- endif -%}
        </span>
    {% endif %}

    {%- if not props.label and not props.icon -%}
        {% if caller %}
            {{ caller() | safe }}
        {% endif %}
    {%- endif -%}

</{% if attrs.href %}a{% else %}button{% endif %}>

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set buttonMeta = {
    args: '{{ button(
    props={
        label: "",
        type: "button | link",
        size: "base | lg | sm | inherit",
        icon: ""
    },
    attrs={}
) }}',
description: "
- Tag defaults to `button` unless you provide a `href`, then it'll be an `a` tag.
- Optionally you can use `{% call %}` to give custom inner HTML.
"
} %}
