{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set checkboxMeta = {
    args: '{{ checkbox(
    props={
        name: "",
        label: "",
        description: "",
        options: [{label: "", value: ""}],
        fieldAttrs: {}
    },
    attrs={}
) }}',
description: "
- If you want access to an array of the selected checkboxes, define a `x-data` value in a parent element with the key as the `props.name` of this component.
"
} %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/_fieldParts.njk" import fieldLabel, fieldDescription, directionClasses, fieldStyles, fieldsetOptionStyles %}
{% from "snippets/loopAttrs.njk" import loopAttrs %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro checkbox(props={}, attrs={}) %}

    <fieldset
        name="{{ props.name }}"
        class="{{ attrs.class }}"
        {{ loopAttrs(attrs) }}
    >
        <div class="{{ directionClasses["column"] }}">

            {% if props.label %}{{ fieldLabel({tag: "legend", fieldProps:props}) }}{% endif %}
            {% if props.description %}{{ fieldDescription(props) }}{% endif %}

            {% for option in props.options %}
                <div
                    x-data="{
                        id: $id('{{ option.value }}'),
                        setChecked () {
                            const arr = {{ props.name }}
                            i = {{ loop.index }}
                            return arr.includes(i) ? arr.splice(arr.indexOf(i), 1) : arr.push(i)
                        }
                    }"
                    class="flex gap-2">
                    <input
                        :checked="{{ props.name }}.includes({{ loop.index }})"
                        x-on:change="setChecked"
                        :id="id"
                        type="checkbox"
                        name="{{ props.name }}"
                        value="{{ option.value }}"
                        {{ loopAttrs(props.fieldAttrs) }}
                        class="accent-current w-[1.1em] h-[1.5em] shrink-0"/>
                    <label class="{{ fieldsetOptionStyles }}" :for="id">{{ option.label }}</label>
                </div>
            {% endfor %}
        </div>
    </fieldset>

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% endmacro %}
