{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set dialogMeta = {
    args: '{% call dialog(
    triggerProps={ button.props },
    attrs={}
) %}
{% endcall %}',
description: "
- triggerProps is the properties for the `button` element that opens the `dialog`.
"
} %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/button.njk" import button %}
{% from "snippets/loopAttrs.njk" import loopAttrs %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro dialog(attrs={},triggerProps={}) %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<div x-data {{ loopAttrs(attrs) }} class="{{ attrs.class }}">
    {{ button(props=triggerProps, attrs={"@click": "$refs.dialog.showModal()"}) }}

    <dialog
        closedby="any"
        x-ref="dialog"
        class="{{ attrs.class }} flex overflow-x-hidden overflow-y-auto open:visible invisible flex-col items-center bg-gainsboro p-0 mt-dialog-block mb-auto mx-auto inset-0 backdrop:bg-ink/35 shadow-zine w-[calc(100%-2*var(--spacing-site))] border border-grey">
        {{ caller() | safe }}
    </dialog>
</div>

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% endmacro %}
