{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set incrementerMeta = {
    args: '{% call incrementer(
    props={
        input: "",
    },
    attrs={}
) %}
{% endcall %}',
description: "
-
-
-
"
} %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}
{% from "components/button.njk" import button %}
{% from "components/input.njk" import input %}
{% from "components/_fieldParts.njk" import fieldLabel, fieldDescription, directionClasses %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro incrementer(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set value %}

{% endset %}

{% set newProps = {"name": props.name} %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}
<div x-data="{
    attendees: 0
}"
@input-attendees.window="attendees = $event.detail"
>
<div
    x-data="{value:'{% if fieldAttrs.value %}{{fieldAttrs.value}}{% endif %}'}"
    {{ loopAttrs(attrs) }}
    class="{% if props.direction %}{{ directionClasses[props.direction] }}{% else %}{{ directionClasses['column'] }}{% endif %} {{ attrs.class }}">

    {% if props.label %}{{ fieldLabel(props={tag: "label"}, fieldProps=props, fieldAttrs=fieldAttrs) }}{% endif %}
    <div class="flex gap-2 w-full items-center">
        {{ button(
            props={
                type: "button",
                variant: "hue",
                size: "sm",
                icon: "−"
            },
            attrs={
                "@click": "attendees = attendees - 1",
                "class": "h-full",
                "type": "button"
            }
        ) }}
        {{ input(
            props=newProps,
            attrs=attrs,
            fieldAttrs=fieldAttrs
        ) }}
        {{ button(
            props={
                type: "button",
                variant: "hue",
                size: "sm",
                icon: "+"
            },
            attrs={
                "@click": "attendees = attendees + 1",
                "class": "h-full",
                "type": "button"
            }
        ) }}
    </div>

</div>
</div>

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% endmacro %}
