{# Imports ----------------------------------------------------------------------------------------------------------------------------- #}

    {% from "components/toaster.njk" import toaster %}
    {% from "components/announcementBanner.njk" import announcementBanner with context %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set pageTitle %}
    {%- if seoTitle -%}
        {{ seoTitle }} –
    {% elseif title %}
        {{ title }} –
    {% endif %}
    {{- global.siteTitle -}}
{% endset %}

{% set pageDescription %}
    {% if description %}{{- description -}}{% endif %} {{global.siteDescription -}}
{% endset %}

{% set ogImage %}
    {{- global.siteDomain -}}{% if ogImage %}{{- page.fileSlug -}}{{- ogImage -}}
    {% else %}
        {{- global.siteImage -}}
    {% endif %}
{% endset %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<!DOCTYPE html>
<html lang="en" class="scroll-smooth scroll-p-12 scheme-dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ pageTitle | safe }}</title>
        <meta property="og:title" content="{{ pageTitle | safe }}"/>
        <meta name="description" content="{{ pageDescription }}">
        <meta property="og:description" content="{{ pageDescription }}"/>
        <meta property="og:url" content="{{ global.siteDomain }}{{ page.url }}"/>
        <meta property="og:image" content="{{ ogImage }}"/>
        <meta property="og:type" content="{% if ogType %}{{ ogType }}{% else %}website{% endif %}"/>
        <meta name="generator" content="{{ eleventy.generator }}">
        <link rel="icon" type="image/x-icon" href="{{ global.favicon }}">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body class="font-body text-base text-neutral antialiased flex flex-col min-h-dvh items-center bg-surface pb-[calc(env(safe-area-inset-bottom)+var(--announcementBannerBlockSize))]">
        {% if global.announcementBannerContent %}
            {{ announcementBanner({content: global.announcementBannerContent }) }}
        {% endif %}

        {% if environment.env == 'dev' %}
            {% include "components/_developmentWidget.njk" %}
        {% endif %}

        {{ content | safe }}

        {{ toaster() }}

        <script defer src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://unpkg.com/alpinejs@3.14.9/dist/cdn.min.js"></script>
    </body>
</html>
