---
layout: base
eleventyExcludeFromCollections: true
---


{% from "components/button.njk" import button %}
{% from "components/container.njk" import container %}
{% from "components/copyToClipboard.njk" import copyToClipboard %}
{% from "components/markdown.njk" import markdown %}

<main class="flex flex-col items-center gap-half-section pt-half-section pb-fluid-inline md:py-half-section grow w-full">
    {% call container({size:"narrow"}, {class:"text-pretty text-center justify-items-center gap-8"}) %}
            <h1 class="w-full text-xl">
                {{ title }}
            </h1>
            {{ markdown(
                props={
                    content: content,
                    transform: false
                },
                attrs={}
            ) }}

            <h2 class="text-lg">Please consider sharing the event with your friends.</h2>
                {% call copyToClipboard(
                    props={
                        input: global.siteDomain,
                        toastMessage: "RSVP link copied to clipboard!"
                    },
                    attrs={}
                ) %}
                    {{ button({label:"Share RSVP link", type:"button", variant:"ink", size:"base"},{@click:"copy", class:"w-full"}) }}
                {% endcall %}
                {{ button({label:"Return home", type:"link", variant:"hue", size:"base"},{href:"/", class:""}) }}
    {% endcall %}
    {% call container({size:"narrow"},{class:"place-content-center"}) %}
        <div class="border max-w-150 overflow-hidden"><img class="w-full object-cover object-top" src="{{ eventDetails.graphic }}" alt=""></div>
    {% endcall %}
</main>
